// colors
$color-primary: #a445ed;
$color-secondary: #ff5252;
$color-black: #050505;
$color-dark-black: #1f1f1f;
$color-medium-black: #2d2d2d;
$color-lite-black: #3a3a3a;
$color-dark-gray: #757575;
$color-lite-gray: #e9e9e9;
$color-off-white: #f4f4f4;
$color-white: #ffffff;

// Spacing
$space-xxsmall: 0.8rem;
$space-xsmall: 1.6rem;
$space-small: 1.8rem;
$space-medium: 2.4rem;
$space-large: 3.2rem;
$space-xl: 7rem;

// // Media Breaks
// $screen-large: 1200px;
$tablet-break: 1100px;
$mobile-break: 800px;

// Animation Timing
$fade: 0.2s;
